.DS_Store
.obsidian/workspace*
node_modules/
.data/
.env
.env.*
!.env.example
dist/
coverage/
*.log
.dart_tool/
.flutter-plugins-dependencies
build/
**/android/local.properties
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/ephemeral/
.idea/
*.iml
